html, body {
    font-family: "Plus Jakarta Sans", sans-serif !important;
    height: 100%;
    margin: 0;
}

.page {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1;
}
